<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Show and Tell Collection</title>
</head>

<body>
    <h1>Film Collection</h1>
    <div id="myApp">
        <table>
            <thead>
                <th>Poster</th>
                <th>Title</th>
                <th>Year</th>
                <th>Genres</th>
                <th>Synopsis</th>
                <th>Remove</th>
            </thead>
            <tbody>
                <tr 
                    v-for="(film, idx) in films"
                    v-bind:class="{odd: idx%2==0, even: idx%2!==0}"
                >
                    <td>
                        <img v-bind:src="film.poster"
                             v-bind:alt="film.title + ' poster'"
                        >
                    </td>
                    <td v-bind:style="{textAlign: 'center'}">{{film.title}}</td>
                    <td v-bind:style="{textAlign: 'center'}">{{film.year}}</td>
                    <td v-bind:style="{textAlign: 'center'}">{{film.genres}}</td>
                    <td v-bind:style="{padding: '15px'}">{{film.synopsis}}</td>
                    <td v-bind:style="{padding: '15px'}">
                        <button type="button" v-on:click="deleteFilm(film)">Delete</button></td>
                </tr>
            </tbody>
        </table>


    <form v-on:submit.prevent="submitHandler">
        <fieldset>
            <legend>Add a film to the collection</legend>
            <div class="form">
                <label for="poster">Poster URL</label>
                <input 
                    id="poster" 
                    type="text"
                    v-model="newFilm.poster">
            </div>
            <div class="form">
                <label for="title">Title</label>
                <input 
                    id="title" 
                    type="text"
                    v-model="newFilm.title">
            </div>
            <div class="form">
                <label for="year">Year</label>
                <input 
                    id="year" 
                    type="text"
                    v-model="newFilm.year">
            </div>
            <div class="form">
                <label for="genres">Genres</label>
                <input 
                    id="genres" 
                    type="text"
                    v-model="newFilm.genres">
            </div>
            <div class="film-synopsis">
                <label for="synopsis">Synopsis</label>
                <textarea 
                cols="30" rows="10" 
                id="synopsis" 
                v-model="newFilm.synopsis"></textarea>
            </div>
            <button class="submit-button" type="submit">Submit</button>
        </fieldset>
    </form>
    </div>
    <script src="./collection.js"></script>
</body>

</html>