html {
  min-height: 1500px;
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  color: #21265b;
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Noto Serif', serif;
}

h1, th {
  font-family: 'Bungee', cursive;
  color: #21265b;
}