/* Add your styles here */
html {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif
}
.llama-list-title {
  border-bottom: 2px solid #333;
  margin: 10px auto;
  text-align: left;
  font-weight: 400;
  max-width: 1000px;
}
.list-container {
  border-bottom: 1px solid #333;
  margin: 10px auto;
  padding: 5px;
}
.list-head .rank, .list-head .name {
  min-width: 500px;
  text-align: center;
}

.rank-table, .name-table {
  padding: 10px;
  text-align: center;
}


.odd {
  background: rgb(164, 84, 196);
}

.llama {
  font-weight: 900;
  color: rgb(114, 193, 34);
}