html {
    text-align: center;
    color: #ffb14e;
    margin: 2rem;
    background-color: #00002c;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

a:link {
    color: #8DFF41;
}

a:visited {
    color: #9D02D7;
}

button {
    margin-top: 1rem;
    padding: 15px 20px;
    background-color: #FFB14E;
    border-radius: 30px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
}